/* menu item */

.caja-item{
	background: #524723;
	padding-bottom: 10px;
	font-weight: bold;
}

.sub-item{
	position: relative;
	overflow: hidden;
}

.nombre{
	color: #FAFAFA;
	text-align: 1.1em;
	font-size: 1.3em;
	width: 100%;
	max-width: 100%;
	position: relative;
	z-index: 10;
	text-align: center;
	display: block;
	background: #179196;
	text-transform: capitalize;
}

.precio{
	font-size: 1.2em;
	color: white;
}

.boton-carrito{
	transition: all .4s;
	display: flex;
	cursor: pointer;
	justify-content: center;
	width: 150px;
	background: #E59A0C;
	align-items: 30px;

	border-radius: 15px;
	
	border: none;
	padding: 1px 20px;
	color: white;
	margin-top: 8px;

}

.imagen-carrito{
	height: 24px;
	width: 24px;
	position: relative;
	top: 1px;
	margin: 0px;
	margin-left: 3px;
}

.imagen{

	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
	transition: all 1s;
}
.imagen:hover{

	transform: scale(1.1);

}


@media screen and (min-width: 360px) {
	.containerr{
	flex-direction: row;
	}

	.item{
	flex-basis: 50%;
	}
}

@media screen and (min-width: 768px) {


	.item{
	flex-basis: 33.33%;
	}

}

@media screen and (min-width: 1200px) {

	.item{
	flex-basis: 25%;
	}

}


/* end menu item */